# Compilación
build/
build-local/
cmake-build-*/
*.o
*.a
*.so
*.out

# Datos generados en ejecución
/data/

# Documentación generada
docs/html/
docs/latex/


# IDEs
.vscode/
.idea/
*.user
*.suo
.DS_Store
Thumbs.db

Consigna_Trabajo_Final.md
